
@using Book.Client.Dtos.Categories
@model CategoryUpdateDto
<div class="container">
    <form asp-action="update" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" asp-for="@Model.Name">
            <span class="alert-danger" asp-validation-for="@Model.Name"></span>
            @Html.AntiForgeryToken()
        </div>
        <button type="submit">Update</button>
    </form>
</div>